.movie {
  max-width: 360px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movie__signature {
  padding: 0;
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.movie__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.movie__duration {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #a0a0a0;
  margin: 0;
}

.movie__cover {
  width: 100%;
  margin-bottom: 18px;
}

.movie__save-button {
  align-self: center;
  max-width: 100px;
  width: 100%;
  height: 29px;
  margin: 0 0 18px 0;
  padding: 0;
  background: #f9f9f9;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #000000;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.movie__save-button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.movie__save-button_active {
  background-color: #ff4062;
  color: #ffffff;
}

@media screen and (min-width: 1285px) {
  .movie {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .movie {
    max-width: 342px;
  }
}

@media screen and (max-width: 685px) {
  .movie {
    max-width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .movie__signature {
    margin: 14px;
  }

  .movie__title {
    font-size: 12px;
  }

  .movie__duration {
    font-size: 10px;
  }

  .movie__cover {
    margin-bottom: 14px;
  }

  .movie__save-button {
    margin-bottom: 14px;
  }
}
