.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin: 0 70px 125px 70px;
}

.portfolio__title {
  padding: 0;
  margin: 0 0 48px 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  padding: 0 0 19px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__item_no-border {
  margin-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.portfolio__link:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.portfolio__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
}

.portfolio__arrow {
  margin-top: 4px;
}

@media screen and (min-width: 1285px) {
  .portfolio-container {
    align-items: center;
  }

  .portfolio {
    max-width: 1280px;
    width: 100%;
  }
}

@media screen and (max-width: 870px) {
  .portfolio {
    margin: 0 50px 90px 50px;
  }

  .portfolio__subtitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 590px) {
  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__subtitle {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    width: 12px;
    margin-top: 0;
  }
}

@media screen and (max-width: 520px) {
  .portfolio {
    margin: 0 14px 70px 14px;
  }
}
