.search__checkbox-container {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-right: 12px;
}

.search__checkbox {
  -webkit-appearance: none;
  appearance: none;
  margin-right: 14px;
  cursor: pointer;
}

.search__checkbox::before {
  content: "";
  display: inline-block;
  background-image: url("../../images/search__checkbox-unchecked.svg");
  width: 36px;
  height: 20px;
  -webkit-transition: background-image 0.3s ease-in;
  transition: background-image 0.3s ease-in;
}

.search__checkbox:checked::before {
  background-image: url("../../images/search__checkbox-checked.svg");
  -webkit-transition: background-image 0.3s ease-out;
  transition: background-image 0.3s ease-out;
}

.search__checkbox-label {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

@media screen and (max-width: 820px) {
  .search__checkbox-container {
    margin: 4px 0 0 0;
  }

  .search__checkbox {
    margin-right: 15px;
  }
}

@media screen and (max-width: 760px) {
  .search__checkbox-container {
    position: absolute;
    top: 123px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 420px) {
  .search__checkbox {
    margin-right: 13px;
  }

  .search__checkbox-label {
    font-size: 11px;
    line-height: 18px;
  }
}
