.form__input_password {
  margin-bottom: 150px;
}

.login-password-input-error {
  margin-bottom: 158px;
}

@media screen and (max-width: 520px) {
  .login-password-input-error {
    margin-bottom: 247px;
  }
}
